In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import numpy as np

In [152]:
from data_master_eng_ml.config import MONGODB_DATABASE,

MongoClient(host=['ac-v7jdtxc-shard-00-00.1qzsmiy.mongodb.net:27017', 'ac-v7jdtxc-shard-00-02.1qzsmiy.mongodb.net:27017', 'ac-v7jdtxc-shard-00-01.1qzsmiy.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', appname='datamaster"', authsource='admin', replicaset='atlas-4a25lc-shard-0', tls=True, server_api=<pymongo.server_api.ServerApi object at 0x14137e990>)

In [3]:
ano = "2022"

In [110]:
from data_master_eng_ml.transformations.api_transformations import (
    fetch_game_release_dates,
    fetch_involved_companies,
    fetch_companies_info,
    fetch_multiplayer_modes,
    fetch_game_info,
    batch_fetch_age_classifications
)
from data_master_eng_ml.utils.helpers import map_age_classifications,generate_dummies

In [70]:
from data_master_eng_ml.dataset import main

In [98]:
def game_featurization(single: bool, game_id: int = 0, year: int = 2021):
    """
    Função principal que realiza a featurização do jogo.
    """
    # Obtém dados de diferentes fontes da API
    if not single:
        data_frame_games_find = fetch_game_release_dates(single=single, year=year)
        game_id = list(set(data_frame_games_find["game"].to_list()))
        games_id_list = ",".join(map(str, game_id))
    else:
        data_frame_games_find = fetch_game_release_dates(single=single, year=year,game_id=game_id)
        games_id_list = ",".join(map(str, [game_id]))
    data_frame_companies_find = fetch_involved_companies(games_id_list)
    company_id_list = list(set(data_frame_companies_find["company"].to_list()))
    data_frame_companies = fetch_companies_info(company_id_list)

    # Processa dados das empresas
    companies_join = pd.merge(
        data_frame_companies_find,
        data_frame_companies,
        left_on="company",
        right_on="id",
        how="inner",
    )
    df_companies_final = companies_join[
        ["game", "games_developed", "has_parents", "games_published", "continent_name"]
    ]

    # Obtém dados de modos multiplayer
    data_frame_multiplayer_modes = fetch_multiplayer_modes(games_id_list)

    # Obtém informações gerais do jogo
    data_frame_games = fetch_game_info(games_id_list)

    # Faz o batch fetch das classificações etárias
    unique_age_ratings = data_frame_games["age_ratings"].explode().dropna().unique().tolist()
    age_ratings_df = batch_fetch_age_classifications(unique_age_ratings)

    # Mapeia as classificações etárias para o DataFrame de jogos
    data_frame_games = map_age_classifications(data_frame_games, age_ratings_df)

    # Merge com dados das empresas e modos multiplayer
    df_companies_games = pd.merge(
        df_companies_final,
        data_frame_games_find[["game", "region_name"]].drop_duplicates(subset="game"),
        on="game",
        how="inner",
    )
    df_companies_games_multiplayer = pd.merge(
        df_companies_games.drop_duplicates(subset="game"),
        data_frame_multiplayer_modes[
            ["game", "onlinecoop", "onlinecoopmax", "onlinemax", "splitscreen"]
        ],
        on="game",
        how="left",
    )

    # Combina tudo em um único DataFrame final
    df_join = (
        pd.merge(
            data_frame_games,
            df_companies_games_multiplayer,
            left_on="id",
            right_on="game",
            how="left",
        )
        .drop(columns=["game"])
        .drop_duplicates(subset="id")
    )

    # Gera variáveis dummy
    df_join = generate_dummies(
        df_join, ["platforms_name", "game_modes_name", "player_perspective_name"]
    )

    # Adiciona flag para lançamento global
    df_join["has_global_launch"] = np.where(df_join["region_name"] == "worldwide", 1, 0)
    df_join = df_join.drop(columns=["region_name"])

    return df_join

In [92]:
single = True
year = 2021
game_id = 311813

In [114]:
df_join = game_featurization(single=single,year=year,game_id=game_id)

/Users/josepaulo/data_master_eng_ml/data_master_eng_ml/utils/helpers.py:64: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data_frame["country"] = data_frame["country"].fillna(1).astype(int)

In [115]:
df_join

,id,name,genres_first,has_remaster,target,age_rating_group,games_developed,has_parents,games_published,continent_name,onlinecoop,onlinecoopmax,onlinemax,splitscreen,pc,single_player,bird_view_slash_isometric,has_global_launch
0,311813,Waifu Quest 2,point-and-click,False,0,No Rating,1,0,1,Unknown,NaN,NaN,NaN,NaN,1,1,1,1

In [ ]:
df_join = game_featurization(single=single,year=year)

In [91]:
df_join

,id,name,genres_first,has_remaster,target,age_rating_group,games_developed,has_parents,games_published,continent_name,...,unknown_game_mode,auditory,bird_view_slash_isometric,first_person,side_view,text,third_person,unknown_player_perspectives,virtual_reality,has_global_launch
0,79,Stubbs the Zombie in Rebel Without a Pulse,hack-and-slash-beat-em-up,False,1,18+,4.0,1.0,1.0,North America,...,0,0,0,0,0,0,1,0,0,1
1,386,Final Fantasy XIV Online,role-playing-rpg,False,1,16+,187.0,0.0,962.0,Asia,...,0,0,0,0,0,0,1,0,0,1
2,3241,Cookie Clicker,indie,False,1,All Ages,3.0,0.0,2.0,Unknown,...,0,0,0,0,0,1,0,0,0,1
3,4444,The Immortal,role-playing-rpg,False,1,12+,125.0,0.0,1353.0,North America,...,0,0,0,0,0,0,1,0,0,1
4,5472,50 Cent: Blood on the Sand,shooter,False,1,18+,5.0,0.0,-1.0,Europe,...,0,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1230,311972,Turkey Hero,arcade,False,0,No Rating,1.0,0.0,-1.0,Unknown,...,0,0,0,0,0,0,0,1,0,1
1231,311980,Boxing,sport,False,0,No Rating,3.0,0.0,3.0,Unknown,...,0,0,1,0,0,0,0,0,0,1
1232,225989,Snoot Game,visual-novel,False,0,No Rating,2.0,0.0,2.0,Unknown,...,0,0,0,0,1,1,0,0,0,1
1233,194185,Infinite Links,adventure,False,0,15+,27.0,0.0,1.0,Unknown,...,0,0,1,0,1,0,0,0,0,1
1234,260594,Skeler Boy,indie,False,0,16+,1.0,0.0,1.0,Unknown,...,0,0,1,0,0,0,0,0,0,1

In [ ]:
df_join

,id,name,genres_first,has_remaster,target,age_rating_group,games_developed,has_parents,games_published,continent_name,...,unknown_game_mode,auditory,bird_view_slash_isometric,first_person,side_view,text,third_person,unknown_player_perspectives,virtual_reality,has_global_launch
0,71,Portal,shooter,False,1,15+,125.0,0.0,1353.0,North America,...,0,0,0,1,0,0,0,0,0,1
1,72,Portal 2,shooter,False,1,12+,86.0,0.0,95.0,North America,...,0,0,0,1,0,0,0,0,0,1
2,4250,Kingdom: The Far Reaches,adventure,False,0,12+,4.0,0.0,39.0,Unknown,...,0,0,0,0,0,0,1,0,0,1
3,13350,Auf Wiedersehen Monty,adventure,False,1,No Rating,40.0,0.0,68.0,Europe,...,0,0,0,0,1,0,0,0,0,1
4,13812,Bear Bovver,arcade,False,0,No Rating,7.0,0.0,9.0,Unknown,...,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1282,265905,Rushdown Rivals,hack-and-slash-beat-em-up,False,0,No Rating,NaN,NaN,NaN,NaN,...,0,0,0,0,1,0,0,0,0,0
1283,296814,Genesis II,shooter,False,0,No Rating,6.0,0.0,-1.0,Europe,...,0,0,1,0,0,0,0,0,0,1
1284,294670,Ad Astra,adventure,False,0,No Rating,NaN,NaN,NaN,NaN,...,0,0,0,1,0,0,1,0,0,0
1285,229164,Cubic Light,indie,False,0,3+,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,1,0,0
1286,287629,Toy Story 3,adventure,False,0,All Ages,31.0,0.0,-1.0,Europe,...,1,0,0,0,0,0,1,0,0,1

In [ ]:
df_join = main(single=single,year=year)

2024-09-07 17:04:54.838 | INFO     | data_master_eng_ml.dataset:main:107 - Processing dataset...

KeyError: 'company'

In [ ]:
    data_frame_games_find["region_name"] = data_frame_games_find["region"].map(
        region_mapping_inverted
    )
    
    # Processa dados de empresas
    data_frame_companies = process_companies_data(data_frame_companies)


    # Processa dados do jogo para formatação adicional
    data_frame_games = process_game_data(data_frame_games)

In [147]:
from data_master_eng_ml.transformations.api_raw_data import (
    fetch_raw_game_release_dates_batch,
    fetch_raw_game_release_dates_single,
    fetch_raw_involved_companies,
    fetch_raw_companies_info,
    fetch_raw_multiplayer_modes,
    fetch_raw_game_info
)

In [119]:
data_frame_games_find_raw_batch = fetch_raw_game_release_dates_batch(year=year)

2024-09-07 19:33:14.861 | INFO     | data_master_eng_ml.transformations.api_raw_data:fetch_raw_game_release_dates_batch:81 - Fetching game release dates for the year: 2021
2024-09-07 19:33:14.862 | DEBUG    | data_master_eng_ml.transformations.api_raw_data:fetch_raw_game_release_dates_batch:98 - Constructing the query and initiating data fetch...
2024-09-07 19:33:19.608 | INFO     | data_master_eng_ml.transformations.api_raw_data:fetch_raw_game_release_dates_batch:101 - Data fetched successfully.
2024-09-07 19:33:19.609 | DEBUG    | data_master_eng_ml.transformations.api_raw_data:fetch_raw_game_release_dates_batch:103 - Returning the resulting DataFrame.

In [153]:
db = client[MONGODB_DATABASE]  # Substitua pelo nome do seu banco de dados

In [154]:
GAME_RELEASE_DATES_RAW_COLLECTION = 'game_release_dates_raw'

In [159]:
save_dataframe_to_mongodb(
    data_frame_games_find_raw_batch,client,MONGODB_DATABASE,GAME_RELEASE_DATES_RAW_COLLECTION
)

Uploading to collection fgame_release_dates_raw: 100%|██████████| 3/3 [00:04<00:00,  1.52s/it]

2024-09-07 20:13:38.323 | INFO     | __main__:save_dataframe_to_mongodb:30 - Data successfully inserted into MongoDB!

In [ ]:
save_dataframe_to_mongodb(
    data_frame_games_find_raw_batch,client,MONGODB_DATABASE,GAME_RELEASE_DATES_RAW_COLLECTION
)

Uploading to collection fgame_release_dates_raw: 100%|██████████| 3/3 [00:04<00:00,  1.52s/it]

2024-09-07 20:13:38.323 | INFO     | __main__:save_dataframe_to_mongodb:30 - Data successfully inserted into MongoDB!

In [121]:
data_frame_games_find_raw_single = fetch_raw_game_release_dates_single(game_id=game_id)

2024-09-07 19:33:57.374 | INFO     | data_master_eng_ml.transformations.api_raw_data:fetch_raw_game_release_dates_single:41 - Fetching release dates for game ID: 311813
2024-09-07 19:33:57.377 | DEBUG    | data_master_eng_ml.transformations.api_raw_data:fetch_raw_game_release_dates_single:58 - Constructing the query and initiating data fetch...
2024-09-07 19:33:57.899 | INFO     | data_master_eng_ml.transformations.api_raw_data:fetch_raw_game_release_dates_single:61 - Data fetched successfully.
2024-09-07 19:33:57.899 | DEBUG    | data_master_eng_ml.transformations.api_raw_data:fetch_raw_game_release_dates_single:63 - Returning the resulting DataFrame.

In [130]:
games_id_batch = list(set(data_frame_games_find_raw_batch["game"].to_list()))

In [131]:
games_id_list_batch = ",".join(map(str, games_id_batch))

In [125]:
games_id_single = list(set(data_frame_games_find_raw_single["game"].to_list()))

In [126]:
games_id_list_single = ",".join(map(str, games_id_single))

In [136]:
data_frame_companies_find_raw_batch = fetch_raw_involved_companies(games_id_list_batch)
data_frame_companies_find_raw_batch
company_id_list_batch = list(set(data_frame_companies_find_raw_batch["company"].to_list()))

2024-09-07 19:41:21.327 | INFO     | data_master_eng_ml.transformations.api_raw_data:fetch_raw_involved_companies:121 - Fetching involved companies for game ID:
2024-09-07 19:41:21.328 | DEBUG    | data_master_eng_ml.transformations.api_raw_data:fetch_raw_involved_companies:127 - Constructing the query and initiating data fetch...
2024-09-07 19:41:24.589 | INFO     | data_master_eng_ml.transformations.api_raw_data:fetch_raw_involved_companies:130 - Data fetched successfully.
2024-09-07 19:41:24.589 | DEBUG    | data_master_eng_ml.transformations.api_raw_data:fetch_raw_involved_companies:132 - Returning the resulting DataFrame.

In [137]:
data_frame_companies_find_raw_single = fetch_raw_involved_companies(games_id_list_single)
data_frame_companies_find_raw_single
company_id_list_single = list(set(data_frame_companies_find_raw_single["company"].to_list()))

2024-09-07 19:41:25.416 | INFO     | data_master_eng_ml.transformations.api_raw_data:fetch_raw_involved_companies:121 - Fetching involved companies for game ID:
2024-09-07 19:41:25.416 | DEBUG    | data_master_eng_ml.transformations.api_raw_data:fetch_raw_involved_companies:127 - Constructing the query and initiating data fetch...
2024-09-07 19:41:26.316 | INFO     | data_master_eng_ml.transformations.api_raw_data:fetch_raw_involved_companies:130 - Data fetched successfully.
2024-09-07 19:41:26.317 | DEBUG    | data_master_eng_ml.transformations.api_raw_data:fetch_raw_involved_companies:132 - Returning the resulting DataFrame.

In [142]:
data_frame_companies_raw_batch = fetch_raw_companies_info(company_id_list_batch)

2024-09-07 19:45:51.854 | INFO     | data_master_eng_ml.transformations.api_raw_data:fetch_raw_companies_info:151 - Fetching information for companies with IDs: [47104, 1, 47105, 34817, 47110, 47112, 38924, 55315, 18454, 26, 27, 29, 38942, 55327, 20512, 36897, 8226, 40995, 36, 37, 30758, 38, 30760, 18474, 10282, 2095, 16433, 12340, 16437, 28729, 58, 20538, 30779, 61, 34879, 6209, 66, 47169, 41029, 70, 34886, 72, 18505, 73, 41033, 30796, 16457, 55372, 82, 30802, 55381, 26710, 55382, 22619, 18523, 30821, 104, 28776, 14440, 55405, 110, 36975, 112, 55409, 55408, 43124, 34936, 49274, 43130, 57469, 57470, 129, 51329, 12419, 20611, 34949, 51336, 37002, 37003, 26764, 51342, 10383, 49295, 34960, 51346, 12433, 30868, 12438, 24726, 45211, 4252, 51357, 6303, 41121, 8354, 53409, 6309, 28837, 53414, 41127, 51367, 170, 53419, 8364, 55462, 55463, 24751, 51375, 28847, 22704, 16565, 24760, 22713, 184, 53435, 2238, 22719, 49345, 196, 197, 2245, 18629, 51400, 55497, 10442, 57540, 51404, 49358, 55503, 39120, 209, 28881, 2262, 37078, 37080, 55513, 24792, 57564, 18654, 4318, 55520, 51424, 18659, 12520, 6379, 47341, 2286, 24818, 18677, 12534, 30967, 248, 47355, 51458, 4355, 263, 264, 24841, 8456, 18699, 12558, 8464, 33042, 54194, 12569, 35098, 35099, 18716, 24859, 39201, 291, 47398, 53543, 2345, 51499, 51500, 35115, 16698, 22843, 12607, 8511, 39231, 10564, 20810, 2379, 336, 31057, 340, 31065, 2397, 2400, 39273, 2410, 366, 35183, 55662, 35185, 10610, 4466, 51576, 39289, 18810, 51577, 2429, 51582, 51583, 51584, 49537, 51585, 51587, 39301, 51590, 22919, 51593, 49546, 20876, 33167, 404, 31125, 31126, 31127, 51607, 41364, 43420, 29085, 39329, 27044, 51620, 423, 33199, 53684, 31157, 47543, 18873, 37305, 4539, 445, 31167, 25026, 451, 8653, 25041, 37329, 25044, 12758, 29148, 18911, 23008, 35297, 43491, 47587, 49637, 53734, 53732, 35305, 49643, 14827, 45547, 27118, 4594, 55795, 4598, 37366, 14841, 25081, 14843, 41469, 51711, 14847, 53760, 53761, 27142, 4616, 47625, 16904, 55819, 33304, 21018, 2589, 55837, 53789, 53791, 12835, 53796, 27176, 29226, 4653, 35377, 49713, 25141, 18998, 51766, 16953, 572, 55868, 16959, 4672, 14914, 49734, 55882, 43603, 12886, 39510, 27224, 53849, 8794, 53850, 53852, 4697, 8799, 29279, 10849, 19042, 53855, 53860, 12901, 16993, 14952, 51819, 49772, 31341, 19053, 47727, 27247, 53868, 43634, 43635, 53874, 53872, 53873, 47737, 33402, 634, 47740, 14972, 45695, 51840, 41602, 49795, 4741, 25221, 45702, 19080, 43660, 53900, 47760, 4755, 53908, 4760, 41627, 45724, 19102, 47774, 43682, 35492, 53925, 29350, 8872, 29365, 47799, 55991, 697, 29370, 8891, 47804, 47805, 55994, 2751, 17089, 17091, 43716, 56005, 39622, 711, 43720, 4809, 709, 10955, 17099, 56013, 56015, 8913, 722, 47826, 47828, 17111, 56027, 47837, 49885, 41696, 56032, 49888, 8934, 743, 47850, 23285, 15094, 45816, 2809, 21243, 41727, 56063, 56065, 56066, 56064, 56068, 773, 47877, 15108, 56072, 31491, 56067, 56071, 780, 11023, 56080, 54033, 56083, 54038, 56093, 23333, 23334, 19239, 56102, 52013, 6957, 19250, 13107, 818, 47927, 25401, 52026, 15164, 832, 834, 56133, 47942, 56135, 840, 837, 6987, 47949, 6989, 17233, 9043, 27475, 50003, 23382, 6999, 856, 852, 27480, 45912, 2914, 56163, 23397, 54117, 31592, 50026, 52074, 52075, 13168, 7025, 2932, 885, 50039, 888, 41852, 19324, 50046, 43902, 56192, 43900, 898, 41859, 899, 21381, 13189, 50054, 50055, 7049, 27525, 15242, 910, 21391, 912, 41872, 45970, 15251, 23443, 50068, 35734, 50069, 50070, 54163, 15249, 54168, 48028, 54169, 37791, 11167, 7073, 928, 5027, 11174, 7080, 21417, 41902, 5040, 2992, 946, 37810, 41907, 2997, 21430, 5047, 5048, 35769, 33713, 54203, 25527, 37828, 37829, 50120, 54217, 25547, 37835, 50131, 13272, 3037, 54243, 15331, 3045, 21479, 52203, 1005, 48111, 50160, 31730, 31731, 27635, 35826, 11255, 1018, 50171, 25598, 11262, 37888, 48126, 48128, 13310, 3076, 39941, 54283, 44051, 54292, 56343, 56344, 56345, 1050, 27672, 5145, 25630, 56351, 56352, 56353, 7205, 48165, 52262, 37929, 17452, 13358, 7215, 48179, 48181, 15416, 27705, 48187, 52284, 15422, 11327, 50239, 5187, 5188, 54342, 52299, 52307, 27733, 9301, 9308, 1118, 42085, 52327, 5229, 7278, 40049, 48247, 38010, 7297, 52354, 11397, 44166, 21640, 21641, 35979, 35980, 48268, 48269, 33931, 9357, 56463, 33938, 9363, 40082, 35989, 15510, 31894, 3226, 27803, 11421, 21662, 50334, 52386, 5283, 45826, 52390, 38055, 56488, 11433, 13482, 48297, 50347, 52391, 56004, 29872, 21682, 36019, 17587, 33980, 31932, 46270, 36031, 25793, 1218, 54467, 46275, 1221, 33986, 23751, 23753, 52426, 52427, 52428, 5325, 50389, 36055, 48347, 9436, 52444, 19676, 27876, 3301, 52461, 52462, 52467, 7412, 38133, 50429, 1281, 42247, 46348, 1293, 46351, 52496, 34065, 27922, 21778, 52503, 3352, 52504, 50459, 56606, 52513, 54564, 25893, 15654, 23847, 38184, 52521, 56617, 52523, 38188, 44336, 40242, 15666, 5431, 15674, 42301, 25918, 34111, 15683, 48458, 44364, 42318, 13648, 46420, 5462, 13655, 32086, 30047, 32095, 17762, 25955, 56675, 56674, 7528, 36201, 1389, 13677, 46445, 1399, 44411, 11644, 5501, 44414, 50564, 36230, 32135, 50571, 30092, 11662, 52624, 5526, 13718, 52631, 40347, 19870, 38304, 23969, 52641, 54688, 44452, 40354, 34214, 42407, 1448, 13742, 44469, 52663, 15800, 23993, 48572, 52670, 52671, 56766, 42435, 42436, 24003, 30150, 40390, 52676, 56772, 13765, 15823, 24016, 48600, 9691, 46556, 34269, 34270, 52703, 52704, 34273, 24033, 40412, 46555, 46558, 54758, 32231, 54760, 56808, 56812, 7663, 17909, 56823, 56824, 19961, 48635, 24060, 56830, 52735, 24064, 15872, 15878, 38407, 11784, 46603, 7692, 50706, 56851, 36372, 19989, 54805, 30231, 24088, 52757, 50714, 13848, 34332, 15901, 56854, 38431, 50719, 17947, 38434, 38435, 38436, 28196, 32298, 38443, 17966, 50735, 54832, 28209, 38458, 22075, 54850, 54855, 28242, 48724, 46676, 38487, 26201, 54873, 54874, 1630, 40545, 50791, 28264, 50796, 34414, 28276, 32373, 5750, 3701, 15995, 1662, 42622, 54912, 52864, 28290, 48770, 13956, 50822, 50823, 50824, 50825, 38538, 50826, 18057, 54928, 32400, 13973, 26263, 40599, 50839, 26266, 52893, 22175, 22176, 52900, 11948, 22188, 40622, 54957, 14002, 26294, 50872, 44728, 11960, 32445, 32446, 54976, 16069, 11975, 54985, 54986, 32460, 30420, 28373, 48854, 11994, 7898, 18141, 46820, 26341, 44775, 48874, 50922, 28399, 9968, 1777, 55026, 46835, 55028, 55029, 20207, 38649, 36602, 48889, 26367, 14079, 36608, 38661, 1803, 20236, 40723, 57108, 7961, 32537, 22297, 7965, 32542, 30495, 57117, 48929, 48931, 30502, 22312, 55083, 22316, 7981, 7983, 26418, 1843, 28469, 24374, 55100, 51006, 46913, 57155, 42822, 14153, 55116, 12110, 46928, 57170, 16211, 10068, 55127, 55128, 55129, 42844, 10077, 42846, 30561, 28513, 32611, 51043, 44901, 32617, 8042, 1901, 18288, 10100, 36728, 42874, 51067, 55164, 16253, 26499, 8068, 30596, 40839, 36745, 38794, 26510, 44945, 40855, 40856, 57245, 42912, 32673, 20391, 57256, 32682, 57258, 14253, 36782, 6068, 32693, 47031, 53178, 57274, 20413, 12224, 26564, 44998, 40908, 32717, 20435, 12244, 53203, 55257, 16347, 49116, 45021, 49118, 16350, 57316, 24551, 49127, 10218, 18411, 53228, 8181, 34806, 51191, 51197, 47102, 53247]
2024-09-07 19:45:51.862 | DEBUG    | data_master_eng_ml.transformations.api_raw_data:fetch_raw_companies_info:165 - Constructing the query and initiating data fetch...
2024-09-07 19:45:54.778 | INFO     | data_master_eng_ml.transformations.api_raw_data:fetch_raw_companies_info:168 - Data fetched successfully.
2024-09-07 19:45:54.778 | DEBUG    | data_master_eng_ml.transformations.api_raw_data:fetch_raw_companies_info:171 - Ensuring all expected columns are present in the DataFrame.
2024-09-07 19:45:54.778 | DEBUG    | data_master_eng_ml.transformations.api_raw_data:fetch_raw_companies_info:174 - Returning the processed DataFrame.

In [140]:
data_frame_companies_raw_single = fetch_raw_companies_info(company_id_list_single)

2024-09-07 19:45:32.497 | INFO     | data_master_eng_ml.transformations.api_raw_data:fetch_raw_companies_info:151 - Fetching information for companies with IDs: [56898]
2024-09-07 19:45:32.498 | DEBUG    | data_master_eng_ml.transformations.api_raw_data:fetch_raw_companies_info:165 - Constructing the query and initiating data fetch...
2024-09-07 19:45:33.000 | INFO     | data_master_eng_ml.transformations.api_raw_data:fetch_raw_companies_info:168 - Data fetched successfully.
2024-09-07 19:45:33.000 | DEBUG    | data_master_eng_ml.transformations.api_raw_data:fetch_raw_companies_info:171 - Ensuring all expected columns are present in the DataFrame.
2024-09-07 19:45:33.003 | DEBUG    | data_master_eng_ml.transformations.api_raw_data:fetch_raw_companies_info:174 - Returning the processed DataFrame.

In [145]:
data_frame_multiplayer_modes_raw_batch = fetch_raw_multiplayer_modes(games_id_list_batch)
data_frame_multiplayer_modes_raw_batch

2024-09-07 19:48:37.643 | INFO     | data_master_eng_ml.transformations.api_raw_data:fetch_raw_multiplayer_modes:194 - Fetching multiplayer modes for game ID: 155670,270361,270367,270368,163880,172097,155719,262219,106575,155728,79,278610,278612,163926,163927,163928,163929,303194,163930,163932,163934,163935,303201,303202,163939,163937,270437,163938,163954,155763,155766,270462,286854,180372,303260,172198,303274,303275,303276,270506,123054,303278,303288,303292,303293,303300,303301,172230,270537,180430,172242,278759,180458,229610,155900,254209,254211,33027,155917,155918,180495,164118,164124,155949,16687,254257,254258,254260,254261,164160,262476,254290,155994,311650,164198,172397,311666,254326,386,311682,172451,172452,246188,180655,188847,147891,246206,188871,164305,188882,172504,16867,229861,188904,188914,131573,229893,188957,148005,254504,254507,148016,156208,180813,189007,123473,303698,238173,139878,254570,180843,279162,148103,17032,311945,148106,303755,254608,254609,311952,311955,311956,311957,180886,180891,311972,303785,189099,311980,311979,303790,279221,279225,303806,148171,107215,139986,17111,189154,312044,295662,164592,148210,238339,180996,131845,221962,164620,205587,131869,172833,148261,221989,189228,107315,197432,254801,172883,303961,197468,148318,254820,148330,172910,156534,254840,172929,148365,156561,295828,254879,189345,205729,312228,132005,189354,148397,312237,164786,172979,156598,172983,304061,172995,74692,132038,74694,304075,222155,25555,156636,115677,148448,254945,41958,156650,25581,123889,148466,254962,173041,254965,156667,189445,189446,189447,189448,189449,189450,189451,189452,164878,189456,189457,189458,189459,189460,189461,189462,254999,173072,164890,304157,304160,279587,9254,312371,189493,189495,189497,189500,156736,107592,189516,304205,189519,189522,189523,189525,156760,189530,189534,132198,132206,189552,230514,230515,255096,279674,189570,304259,115843,255113,115851,296091,304289,296106,279728,173244,107715,263367,189649,304340,189653,304342,132309,189662,156895,189669,189670,173287,279791,279794,140535,189691,156932,189707,148748,189716,173334,189719,189720,189722,238877,189728,189731,148774,189735,189738,247087,189744,140594,148789,271674,132422,230735,116053,288088,304478,34148,189799,255341,189807,222586,222587,189820,189821,222596,173446,173451,157068,173453,222606,173454,173452,173455,173458,173459,165267,173462,173469,304543,173471,148900,157107,214454,148918,157114,255419,189886,157119,157126,214470,288206,189917,189922,181731,132583,280040,280041,263662,181743,189940,189941,173558,173557,157176,173559,173561,173563,173556,173560,173564,173566,173568,173569,173567,173571,173572,173570,173574,173575,189960,263689,173576,173578,140822,132637,173604,181798,173607,83504,173622,173623,190014,181823,165440,132675,173636,239179,140878,149087,288352,222817,173663,288361,231019,173676,173677,181877,304759,304760,173713,173715,173716,173718,173720,173721,173723,190107,173725,280220,149150,173728,288417,190114,173737,173740,165550,190130,280263,34504,272077,272080,149207,157405,198368,198369,263911,75505,116475,165645,132880,165661,182053,173870,304954,165692,26431,165696,157507,313157,173901,26454,165720,173914,165726,173925,198501,92013,157550,116590,198511,149358,206706,173937,198515,190326,280442,173971,149401,190362,264094,305059,305060,165795,214950,149412,223159,165822,149439,214980,26564,190410,247755,214988,149455,182248,313323,149487,157680,157679,157684,157686,157687,157694,10239,157695,157700,157701,165894,157703,190472,157710,157712,149521,157715,174114,165925,313388,313392,165954,149571,182345,149593,149607,264295,125040,305265,190589,264322,157832,116873,264331,280715,280719,190608,280721,280725,264343,264348,149664,166050,272546,280741,182445,133305,280761,166073,133308,305369,174297,157915,157918,166116,166117,166118,166119,166120,166121,166122,166123,215276,84205,256238,313584,149752,174339,157970,157971,297236,297237,133402,289061,289073,158002,256308,223559,141648,289129,280950,174457,190846,280960,313728,289156,256407,256409,125373,158152,149965,158164,190944,313826,158179,174566,190956,100848,248306,125431,190969,313851,313852,313854,313856,313859,313864,117261,158226,117266,305689,158239,281138,305728,117312,305740,92764,174689,191078,150132,297595,297596,191105,150149,101007,125591,240281,281266,281276,68285,142020,182987,314059,166607,215770,215772,297705,305908,142076,133887,191231,256778,224014,183057,174867,133907,27413,314133,191254,133920,166698,92986,150333,174915,183127,306030,183155,306037,306040,174968,183161,183180,174992,166802,207769,166822,166835,248758,125885,256958,150467,256967,256969,256974,150478,248784,256978,281562,248801,248822,158718,257027,166917,257033,257034,257035,232481,166951,142378,150591,101461,142438,19564,158830,257163,158861,142478,257170,158868,142485,257178,183453,257184,257186,3241,158901,142522,208079,281813,142573,183540,150782,183556,52508,298274,281898,281899,306483,208184,208196,183624,298312,167260,183646,142687,257398,150911,142737,159123,11668,126362,159136,150947,314789,314790,191915,241068,290226,273843,167348,134582,290230,290244,265670,150985,265673,306634,306646,282077,142815,126432,151011,306659,151018,290288,290298,151035,273924,265740,208401,167450,142877,306721,306722,200226,175656,257576,167466,151080,257595,142908,142909,257598,298558,167491,167493,290375,167497,175690,28236,200268,167515,290401,69220,274022,290415,224881,265846,36476,167557,192134,102028,249486,224913,159386,175773,265887,183970,192165,282286,77493,159421,93886,216770,225002,225003,151276,225004,265981,93962,298769,159513,225050,306970,151326,225054,36646,298791,298816,266050,266051,298819,192325,298821,159559,118600,53070,110415,307029,143202,151404,69500,266135,159653,249781,176057,282560,159689,290771,192471,176092,282588,282589,159711,282590,159714,282597,282598,282599,36850,176127,126982,307224,307225,307229,307231,159779,217132,151614,135243,61517,192591,118867,299101,299129,127098,176259,299141,127116,241807,299155,299156,307356,192674,307365,192681,168111,299185,250037,184507,250044,184509,184510,37057,250055,151758,184533,282842,274652,192733,241887,192744,192745,192749,151795,299252,192758,250103,266504,192777,160013,282899,127256,176417,78115,250154,307502,299315,143687,160072,282967,192862,176492,151921,176502,282998,283006,20864,307592,307595,168333,151953,151955,307607,307608,307618,307619,274854,176552,119217,274872,283066,135615,250306,307659,152016,307668,143839,184813,143858,152063,184835,307717,307722,193037,225805,168468,193050,307739,307742,193057,168485,274981,135730,160310,160316,119360,160322,119372,160337,209493,160343,168545,160357,160364,127597,160372,160374,160375,160377,143996,143998,160382,160385,160392,168588,242317,160397,168592,127633,160403,160406,160408,168602,160415,160418,160422,160428,160434,160438,152249,160449,160452,225989,160465,160466,176853,144089,160474,160475,283357,160479,160483,160492,160517,160519,160521,283405,160525,160533,144153,160538,144154,160540,291614,160546,160549,176937,160554,160560,242480,176952,275262,160586,275285,168793,160604,111469,103281,160638,160640,160641,144258,160644,160645,160646,160647,160648,160649,160650,160651,250765,160653,160656,160658,160659,152468,160661,160665,119714,160675,160674,160676,267174,160679,160680,160681,160682,160684,152495,160690,160691,160692,160694,160696,160697,160699,160700,152509,160702,160704,160705,160707,308164,160708,160711,160713,160714,160715,160717,160718,160719,160720,160721,160722,160724,308183,160727,160729,308187,160731,160732,160734,160735,160736,160733,283618,160738,160740,160739,160737,308202,160746,160748,234477,283630,160749,250864,193520,103408,283635,300019,160752,160750,160759,308216,160761,283640,160760,160763,283645,283646,283647,283648,160769,283650,160764,160772,160766,160774,160773,160776,144419,177195,160812,250934,144442,185406,283715,193609,144466,300114,242786,283749,300135,283751,103538,152699,283791,177298,169108,283796,283801,177309,177318,144554,308409,292027,308419,144583,308427,308428,251088,70865,169173,275670,136407,160982,226521,160985,160986,193756,169181,308446,177374,160989,300257,300255,160992,169188,160991,160990,160998,160999,177385,160995,160997,161004,201965,161005,300268,300269,300273,161003,161002,185631,267565,267569,259378,275766,251196,308541,193867,136539,275806,5472,308594,193914,144763,161149,169347,161158,259479,177583,169394,284099,226759,300494,169423,226777,169436,284127,284128,136673,144870,194027,194028,308715,308718,284141,144880,169460,284161,300550,136715,169502,226856,30248,259640,169533,284225,144983,276061,169571,300665,284286,276099,210568,194185,284299,284302,210597,284328,169649,161457,284341,284342,284343,284344,284347,161469,177860,259789,284375,300762,308962,104164,186095,55029,259846,243466,243467,169744,177939,161558,169769,284462,284463,161584,276276,284469,160747,251713,210759,169807,169811,161623,160754,160755,284528,63346,161663,160762,251780,145292,137111,186281,260015,227250,169912,194495,137161,178123,178125,178126,260060,309228,153590,178170,96261,260101,260112,145432,120865,268325,145451,153644,301103,63535,276535,284730,284732,14404,129108,194648,153688,145515,301171,301172,104568,145538,80010,161930,137358,161934,161935,161937,186516,161951,186537,153772,129208,202936,145594,178362,153803,153812,252117,268503,137436,121058,30947,153826,96500,211196,153852,153862,153866,194832,252178,153875,244031,121154,301382,14678,153963,293229,153967,211317,170357,309627,301438,301439,301440,301441,301442,301443,301445,301446,301447,153992,276869,301450,301451,121229,154003,154007,162214,162217,145846,145861,113101,121295,113112,252377,285169,227834,227862,154139,195110,260652,277048,285240,285244,285245,277058,285250,211524,186955,186959,178767,277075,146014,146016,137838,277105,277106,277107,162424,154244,162438,170640,301723,170659,170666,178875,154300,146126,178895,285393,260818,285395,260819,154322,285394,178907,121567,260832,252646,260840,260841,252651,277229,154353,260866,195335,154381,162588,162594,154404,105255,162608,162612,203573,154423,179057,293749,154494,154495,301964,285593,277415,113597,23501,154582,160983,160984,154593,160987,160988,269303,160993,220176,160994,277526,228374,162842,160996,277545,285740,89134,161000,195643,285756,146493,171070,130117,154698,171099,171130,187516,105601,195724,253070,121998,113809,138392,89246,253109,253112,138426,163009,171204,253133,81128,154878,310537,122126,122132,285993,245035,163116,81205,195901,195903,195904,146761,294227,212311,195930,138592,163175,204142,154991,195957,310653,146821,187783,138636,163227,179622,171447,187834,138683,155081,179666,15829,196059,286172,196063,163312,122365,187906,196105,187923,269871,171585,269903,196180,269908,269915,302688,269921,147043,294505,138858,32365,163461,138890,155275,171664,171675,179879,138933,310967,310974,310976,220893,179934,229088,253680,261875,294669,253713,253715,155421,171809,40761,163661,294755,294757,171878,294759,294760,294758,294763,294770,294774,147323,155517,294788,294789,294793,155531,294796,294795,163728,163730,229279,147366,262054,32680,139177,204718,278448,147379,106435,303046,278474,163786,147428,163822,286707
2024-09-07 19:48:37.644 | DEBUG    | data_master_eng_ml.transformations.api_raw_data:fetch_raw_multiplayer_modes:211 - Constructing the query and initiating data fetch...
2024-09-07 19:48:38.478 | INFO     | data_master_eng_ml.transformations.api_raw_data:fetch_raw_multiplayer_modes:214 - Data fetched successfully.
2024-09-07 19:48:38.479 | DEBUG    | data_master_eng_ml.transformations.api_raw_data:fetch_raw_multiplayer_modes:217 - Ensuring all expected columns are present in the DataFrame.
2024-09-07 19:48:38.479 | DEBUG    | data_master_eng_ml.transformations.api_raw_data:fetch_raw_multiplayer_modes:220 - Returning the processed DataFrame.

,id,campaigncoop,game,lancoop,offlinecoop,onlinecoop,splitscreen,offlinecoopmax,offlinemax,onlinecoopmax,onlinemax
0,8715,False,101461,False,False,False,False,NaN,NaN,NaN,NaN
1,7522,False,10239,False,False,False,False,NaN,NaN,NaN,NaN
2,10931,False,132637,False,True,False,False,3.0,4.0,0.0,0.0
3,12969,False,142573,False,False,False,False,NaN,NaN,NaN,NaN
4,13406,False,143858,False,True,False,False,3.0,3.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
114,29010,False,103538,False,False,False,False,NaN,NaN,NaN,50.0
115,29703,False,106435,False,True,False,False,NaN,2.0,NaN,NaN
116,29704,False,106435,False,True,False,False,NaN,2.0,NaN,NaN
117,29435,False,129108,False,True,True,True,4.0,NaN,4.0,NaN
118,29702,False,106435,False,True,False,False,NaN,2.0,NaN,NaN

In [146]:
data_frame_multiplayer_modes_raw_single = fetch_raw_multiplayer_modes(games_id_list_single)
data_frame_multiplayer_modes_raw_single

2024-09-07 19:48:39.101 | INFO     | data_master_eng_ml.transformations.api_raw_data:fetch_raw_multiplayer_modes:194 - Fetching multiplayer modes for game ID: 311813
2024-09-07 19:48:39.102 | DEBUG    | data_master_eng_ml.transformations.api_raw_data:fetch_raw_multiplayer_modes:211 - Constructing the query and initiating data fetch...
2024-09-07 19:48:39.477 | INFO     | data_master_eng_ml.transformations.api_raw_data:fetch_raw_multiplayer_modes:214 - Data fetched successfully.
2024-09-07 19:48:39.477 | DEBUG    | data_master_eng_ml.transformations.api_raw_data:fetch_raw_multiplayer_modes:217 - Ensuring all expected columns are present in the DataFrame.
2024-09-07 19:48:39.480 | DEBUG    | data_master_eng_ml.transformations.api_raw_data:fetch_raw_multiplayer_modes:220 - Returning the processed DataFrame.

Empty DataFrame
Columns: [campaigncoop, game, lancoop, offlinecoop, offlinecoopmax, offlinemax, onlinecoop, onlinecoopmax, onlinemax, splitscreen]
Index: []

In [148]:
data_frame_games_raw_batch = fetch_raw_game_info(games_id_list_batch)

2024-09-07 19:52:05.971 | INFO     | data_master_eng_ml.transformations.api_raw_data:fetch_raw_game_info:240 - Fetching detailed information for game ID: 155670,270361,270367,270368,163880,172097,155719,262219,106575,155728,79,278610,278612,163926,163927,163928,163929,303194,163930,163932,163934,163935,303201,303202,163939,163937,270437,163938,163954,155763,155766,270462,286854,180372,303260,172198,303274,303275,303276,270506,123054,303278,303288,303292,303293,303300,303301,172230,270537,180430,172242,278759,180458,229610,155900,254209,254211,33027,155917,155918,180495,164118,164124,155949,16687,254257,254258,254260,254261,164160,262476,254290,155994,311650,164198,172397,311666,254326,386,311682,172451,172452,246188,180655,188847,147891,246206,188871,164305,188882,172504,16867,229861,188904,188914,131573,229893,188957,148005,254504,254507,148016,156208,180813,189007,123473,303698,238173,139878,254570,180843,279162,148103,17032,311945,148106,303755,254608,254609,311952,311955,311956,311957,180886,180891,311972,303785,189099,311980,311979,303790,279221,279225,303806,148171,107215,139986,17111,189154,312044,295662,164592,148210,238339,180996,131845,221962,164620,205587,131869,172833,148261,221989,189228,107315,197432,254801,172883,303961,197468,148318,254820,148330,172910,156534,254840,172929,148365,156561,295828,254879,189345,205729,312228,132005,189354,148397,312237,164786,172979,156598,172983,304061,172995,74692,132038,74694,304075,222155,25555,156636,115677,148448,254945,41958,156650,25581,123889,148466,254962,173041,254965,156667,189445,189446,189447,189448,189449,189450,189451,189452,164878,189456,189457,189458,189459,189460,189461,189462,254999,173072,164890,304157,304160,279587,9254,312371,189493,189495,189497,189500,156736,107592,189516,304205,189519,189522,189523,189525,156760,189530,189534,132198,132206,189552,230514,230515,255096,279674,189570,304259,115843,255113,115851,296091,304289,296106,279728,173244,107715,263367,189649,304340,189653,304342,132309,189662,156895,189669,189670,173287,279791,279794,140535,189691,156932,189707,148748,189716,173334,189719,189720,189722,238877,189728,189731,148774,189735,189738,247087,189744,140594,148789,271674,132422,230735,116053,288088,304478,34148,189799,255341,189807,222586,222587,189820,189821,222596,173446,173451,157068,173453,222606,173454,173452,173455,173458,173459,165267,173462,173469,304543,173471,148900,157107,214454,148918,157114,255419,189886,157119,157126,214470,288206,189917,189922,181731,132583,280040,280041,263662,181743,189940,189941,173558,173557,157176,173559,173561,173563,173556,173560,173564,173566,173568,173569,173567,173571,173572,173570,173574,173575,189960,263689,173576,173578,140822,132637,173604,181798,173607,83504,173622,173623,190014,181823,165440,132675,173636,239179,140878,149087,288352,222817,173663,288361,231019,173676,173677,181877,304759,304760,173713,173715,173716,173718,173720,173721,173723,190107,173725,280220,149150,173728,288417,190114,173737,173740,165550,190130,280263,34504,272077,272080,149207,157405,198368,198369,263911,75505,116475,165645,132880,165661,182053,173870,304954,165692,26431,165696,157507,313157,173901,26454,165720,173914,165726,173925,198501,92013,157550,116590,198511,149358,206706,173937,198515,190326,280442,173971,149401,190362,264094,305059,305060,165795,214950,149412,223159,165822,149439,214980,26564,190410,247755,214988,149455,182248,313323,149487,157680,157679,157684,157686,157687,157694,10239,157695,157700,157701,165894,157703,190472,157710,157712,149521,157715,174114,165925,313388,313392,165954,149571,182345,149593,149607,264295,125040,305265,190589,264322,157832,116873,264331,280715,280719,190608,280721,280725,264343,264348,149664,166050,272546,280741,182445,133305,280761,166073,133308,305369,174297,157915,157918,166116,166117,166118,166119,166120,166121,166122,166123,215276,84205,256238,313584,149752,174339,157970,157971,297236,297237,133402,289061,289073,158002,256308,223559,141648,289129,280950,174457,190846,280960,313728,289156,256407,256409,125373,158152,149965,158164,190944,313826,158179,174566,190956,100848,248306,125431,190969,313851,313852,313854,313856,313859,313864,117261,158226,117266,305689,158239,281138,305728,117312,305740,92764,174689,191078,150132,297595,297596,191105,150149,101007,125591,240281,281266,281276,68285,142020,182987,314059,166607,215770,215772,297705,305908,142076,133887,191231,256778,224014,183057,174867,133907,27413,314133,191254,133920,166698,92986,150333,174915,183127,306030,183155,306037,306040,174968,183161,183180,174992,166802,207769,166822,166835,248758,125885,256958,150467,256967,256969,256974,150478,248784,256978,281562,248801,248822,158718,257027,166917,257033,257034,257035,232481,166951,142378,150591,101461,142438,19564,158830,257163,158861,142478,257170,158868,142485,257178,183453,257184,257186,3241,158901,142522,208079,281813,142573,183540,150782,183556,52508,298274,281898,281899,306483,208184,208196,183624,298312,167260,183646,142687,257398,150911,142737,159123,11668,126362,159136,150947,314789,314790,191915,241068,290226,273843,167348,134582,290230,290244,265670,150985,265673,306634,306646,282077,142815,126432,151011,306659,151018,290288,290298,151035,273924,265740,208401,167450,142877,306721,306722,200226,175656,257576,167466,151080,257595,142908,142909,257598,298558,167491,167493,290375,167497,175690,28236,200268,167515,290401,69220,274022,290415,224881,265846,36476,167557,192134,102028,249486,224913,159386,175773,265887,183970,192165,282286,77493,159421,93886,216770,225002,225003,151276,225004,265981,93962,298769,159513,225050,306970,151326,225054,36646,298791,298816,266050,266051,298819,192325,298821,159559,118600,53070,110415,307029,143202,151404,69500,266135,159653,249781,176057,282560,159689,290771,192471,176092,282588,282589,159711,282590,159714,282597,282598,282599,36850,176127,126982,307224,307225,307229,307231,159779,217132,151614,135243,61517,192591,118867,299101,299129,127098,176259,299141,127116,241807,299155,299156,307356,192674,307365,192681,168111,299185,250037,184507,250044,184509,184510,37057,250055,151758,184533,282842,274652,192733,241887,192744,192745,192749,151795,299252,192758,250103,266504,192777,160013,282899,127256,176417,78115,250154,307502,299315,143687,160072,282967,192862,176492,151921,176502,282998,283006,20864,307592,307595,168333,151953,151955,307607,307608,307618,307619,274854,176552,119217,274872,283066,135615,250306,307659,152016,307668,143839,184813,143858,152063,184835,307717,307722,193037,225805,168468,193050,307739,307742,193057,168485,274981,135730,160310,160316,119360,160322,119372,160337,209493,160343,168545,160357,160364,127597,160372,160374,160375,160377,143996,143998,160382,160385,160392,168588,242317,160397,168592,127633,160403,160406,160408,168602,160415,160418,160422,160428,160434,160438,152249,160449,160452,225989,160465,160466,176853,144089,160474,160475,283357,160479,160483,160492,160517,160519,160521,283405,160525,160533,144153,160538,144154,160540,291614,160546,160549,176937,160554,160560,242480,176952,275262,160586,275285,168793,160604,111469,103281,160638,160640,160641,144258,160644,160645,160646,160647,160648,160649,160650,160651,250765,160653,160656,160658,160659,152468,160661,160665,119714,160675,160674,160676,267174,160679,160680,160681,160682,160684,152495,160690,160691,160692,160694,160696,160697,160699,160700,152509,160702,160704,160705,160707,308164,160708,160711,160713,160714,160715,160717,160718,160719,160720,160721,160722,160724,308183,160727,160729,308187,160731,160732,160734,160735,160736,160733,283618,160738,160740,160739,160737,308202,160746,160748,234477,283630,160749,250864,193520,103408,283635,300019,160752,160750,160759,308216,160761,283640,160760,160763,283645,283646,283647,283648,160769,283650,160764,160772,160766,160774,160773,160776,144419,177195,160812,250934,144442,185406,283715,193609,144466,300114,242786,283749,300135,283751,103538,152699,283791,177298,169108,283796,283801,177309,177318,144554,308409,292027,308419,144583,308427,308428,251088,70865,169173,275670,136407,160982,226521,160985,160986,193756,169181,308446,177374,160989,300257,300255,160992,169188,160991,160990,160998,160999,177385,160995,160997,161004,201965,161005,300268,300269,300273,161003,161002,185631,267565,267569,259378,275766,251196,308541,193867,136539,275806,5472,308594,193914,144763,161149,169347,161158,259479,177583,169394,284099,226759,300494,169423,226777,169436,284127,284128,136673,144870,194027,194028,308715,308718,284141,144880,169460,284161,300550,136715,169502,226856,30248,259640,169533,284225,144983,276061,169571,300665,284286,276099,210568,194185,284299,284302,210597,284328,169649,161457,284341,284342,284343,284344,284347,161469,177860,259789,284375,300762,308962,104164,186095,55029,259846,243466,243467,169744,177939,161558,169769,284462,284463,161584,276276,284469,160747,251713,210759,169807,169811,161623,160754,160755,284528,63346,161663,160762,251780,145292,137111,186281,260015,227250,169912,194495,137161,178123,178125,178126,260060,309228,153590,178170,96261,260101,260112,145432,120865,268325,145451,153644,301103,63535,276535,284730,284732,14404,129108,194648,153688,145515,301171,301172,104568,145538,80010,161930,137358,161934,161935,161937,186516,161951,186537,153772,129208,202936,145594,178362,153803,153812,252117,268503,137436,121058,30947,153826,96500,211196,153852,153862,153866,194832,252178,153875,244031,121154,301382,14678,153963,293229,153967,211317,170357,309627,301438,301439,301440,301441,301442,301443,301445,301446,301447,153992,276869,301450,301451,121229,154003,154007,162214,162217,145846,145861,113101,121295,113112,252377,285169,227834,227862,154139,195110,260652,277048,285240,285244,285245,277058,285250,211524,186955,186959,178767,277075,146014,146016,137838,277105,277106,277107,162424,154244,162438,170640,301723,170659,170666,178875,154300,146126,178895,285393,260818,285395,260819,154322,285394,178907,121567,260832,252646,260840,260841,252651,277229,154353,260866,195335,154381,162588,162594,154404,105255,162608,162612,203573,154423,179057,293749,154494,154495,301964,285593,277415,113597,23501,154582,160983,160984,154593,160987,160988,269303,160993,220176,160994,277526,228374,162842,160996,277545,285740,89134,161000,195643,285756,146493,171070,130117,154698,171099,171130,187516,105601,195724,253070,121998,113809,138392,89246,253109,253112,138426,163009,171204,253133,81128,154878,310537,122126,122132,285993,245035,163116,81205,195901,195903,195904,146761,294227,212311,195930,138592,163175,204142,154991,195957,310653,146821,187783,138636,163227,179622,171447,187834,138683,155081,179666,15829,196059,286172,196063,163312,122365,187906,196105,187923,269871,171585,269903,196180,269908,269915,302688,269921,147043,294505,138858,32365,163461,138890,155275,171664,171675,179879,138933,310967,310974,310976,220893,179934,229088,253680,261875,294669,253713,253715,155421,171809,40761,163661,294755,294757,171878,294759,294760,294758,294763,294770,294774,147323,155517,294788,294789,294793,155531,294796,294795,163728,163730,229279,147366,262054,32680,139177,204718,278448,147379,106435,303046,278474,163786,147428,163822,286707
2024-09-07 19:52:05.972 | DEBUG    | data_master_eng_ml.transformations.api_raw_data:fetch_raw_game_info:256 - Constructing the query and initiating data fetch...
2024-09-07 19:52:08.595 | INFO     | data_master_eng_ml.transformations.api_raw_data:fetch_raw_game_info:259 - Data fetched successfully.
2024-09-07 19:52:08.595 | DEBUG    | data_master_eng_ml.transformations.api_raw_data:fetch_raw_game_info:262 - Ensuring all expected columns are present in the DataFrame.
2024-09-07 19:52:08.596 | DEBUG    | data_master_eng_ml.transformations.api_raw_data:fetch_raw_game_info:265 - Returning the processed DataFrame.

In [149]:
data_frame_games_raw_batch

,id,age_ratings,game_modes,genres,involved_companies,name,platforms,player_perspectives,rating,remasters
0,79,"[3435, 56143, 68812, 82150, 110521, 125679, 12...","[1, 2, 3]","[25, 31]","[121739, 134666]",Stubbs the Zombie in Rebel Without a Pulse,"[6, 11, 14, 48, 49, 130]",[2],73.458158,NaN
1,386,"[31733, 110242, 168446, 168447, 168448, 168449...","[1, 2, 3, 5]",[12],"[253758, 275027, 275033, 275055]",Final Fantasy XIV Online,"[6, 9, 14, 48, 167, 169]",[2],81.324771,NaN
2,3241,[112528],[1],"[2, 13, 15, 32]",[8461],Cookie Clicker,"[3, 6, 14, 34, 82]",[5],71.458986,NaN
3,5472,"[2943, 50361, 67909, 167965]","[1, 2, 3]",[5],"[13255, 13257, 95307]",50 Cent: Blood on the Sand,"[9, 12, 49]",[2],58.153653,NaN
4,9254,"[23920, 68850, 89005, 89006, 89008, 89009, 133...",[1],"[31, 32]","[65382, 66501, 66502, 225432]",Subnautica,"[6, 14, 48, 49, 130, 163, 167, 169, 385]","[1, 7]",83.300992,NaN
...,...,...,...,...,...,...,...,...,...,...
1578,37057,"[41773, 142868, 142869, 142870, 142871, 142872]",[1],"[12, 15, 16, 32, 35]","[161475, 161476]",Griftlands,"[3, 6, 14, 48, 49, 130, 169]",[4],76.283069,NaN
1579,125431,"[46606, 52207, 73180, 92873, 125110, 125111]",[1],"[8, 9, 13, 31]","[193517, 193518]",I Am Fish,"[6, 49, 169]",[2],67.787634,NaN
1580,123473,"[44725, 56082, 98095, 114408, 127925, 150818]",[1],"[12, 31, 32, 34]",[116871],Arietta of Spirits,"[6, 48, 49, 130, 167]",[3],NaN,NaN
1581,27413,"[94234, 106869, 108779, 117788, 125286, 164238]",[1],"[2, 31, 32]","[249847, 249848]",Genesis Noir,"[6, 14, 49, 130]","[1, 2, 4]",68.828520,NaN
1582,19564,"[26266, 31068, 115508, 115509, 115510, 124885,...",[1],"[5, 12, 31]","[36391, 86862, 86863, 86864]",Death Stranding,"[6, 48, 167]",[2],86.641251,NaN

In [57]:
data_frame_games = fetch_game_info(games_id_list)

In [59]:
# Faz o batch fetch das classificações etárias
unique_age_ratings = data_frame_games['age_ratings'].explode().dropna().unique().tolist()

In [60]:
age_ratings_df = batch_fetch_age_classifications(unique_age_ratings)

In [62]:
# Mapeia as classificações etárias para o DataFrame de jogos
data_frame_games = map_age_classifications(data_frame_games, age_ratings_df)

In [64]:
companies_join = pd.merge(data_frame_companies_find, data_frame_companies, left_on="company", right_on="id", how="inner")

df_companies_final = companies_join[["game", "games_developed", "has_parents", "games_published", "continent_name"]]

In [65]:
# Merge com dados das empresas e modos multiplayer
df_companies_games = pd.merge(df_companies_final, data_frame_games_find[["game", "region_name"]].drop_duplicates(subset="game"), on="game", how="inner")
df_companies_games_multiplayer = pd.merge(df_companies_games.drop_duplicates(subset="game"), data_frame_multiplayer_modes[["game", "onlinecoop", "onlinecoopmax", "onlinemax", "splitscreen"]], on="game", how="left")

# Combina tudo em um único DataFrame final
df_join = pd.merge(data_frame_games, df_companies_games_multiplayer, left_on="id", right_on="game", how="left").drop(columns=["game"]).drop_duplicates(subset="id")

In [66]:
df_join

,id,name,player_perspective_name,platforms_name,genres_first,game_modes_name,has_remaster,target,age_rating_group,games_developed,has_parents,games_published,continent_name,region_name,onlinecoop,onlinecoopmax,onlinemax,splitscreen
0,71,Portal,[first-person],"[mobile, pc, modern_console]",shooter,[single-player],False,1,15+,125.0,0.0,1353.0,North America,worldwide,NaN,NaN,NaN,NaN
1,72,Portal 2,[first-person],"[pc, modern_console]",shooter,"[multiplayer, co-operative, single-player, spl...",False,1,12+,86.0,0.0,95.0,North America,worldwide,True,2.0,0.0,True
6,4250,Kingdom: The Far Reaches,[third-person],"[less_common_portable_console, unknown_platfor...",adventure,[single-player],False,0,12+,4.0,0.0,39.0,Unknown,worldwide,NaN,NaN,NaN,NaN
7,6614,Zero Escape: Virtue's Last Reward,"[text, first-person]","[portable_console, pc, modern_console]",visual-novel,[single-player],False,1,18+,1.0,0.0,132.0,Europe,worldwide,NaN,NaN,NaN,NaN
8,7046,Factorio,[bird-view-slash-isometric],"[pc, modern_console]",strategy,"[multiplayer, co-operative, single-player]",False,1,12+,2.0,0.0,2.0,Europe,worldwide,True,65535.0,0.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1675,296814,Genesis II,[bird-view-slash-isometric],"[portable_console, unknown_platforms_name]",shooter,[single-player],False,0,No Rating,6.0,0.0,-1.0,Europe,worldwide,NaN,NaN,NaN,NaN
1677,230728,Four Corners for Playdate,[unknown_player_perspectives],[unknown_platforms_name],arcade,[unknown_game_mode],False,0,No Rating,9.0,0.0,9.0,Unknown,worldwide,NaN,NaN,NaN,NaN
1678,294670,Ad Astra,"[third-person, first-person]",[pc],adventure,"[multiplayer, co-operative, single-player]",False,0,No Rating,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1679,229164,Cubic Light,[unknown_player_perspectives],[modern_console],indie,[single-player],False,0,3+,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1683,287629,Toy Story 3,[third-person],"[portable_console, classic_console, modern_con...",adventure,[unknown_game_mode],False,0,All Ages,31.0,0.0,-1.0,Europe,worldwide,NaN,NaN,NaN,NaN

In [68]:
# Gera variáveis dummy
df_join = generate_dummies(df_join, ["platforms_name", "game_modes_name", "player_perspective_name"])

# Adiciona flag para lançamento global
df_join["has_global_launch"] = np.where(df_join["region_name"] == "worldwide", 1, 0)
df_join = df_join.drop(columns=["region_name"])

In [69]:
df_join

,id,name,genres_first,has_remaster,target,age_rating_group,games_developed,has_parents,games_published,continent_name,...,unknown_game_mode,auditory,bird_view_slash_isometric,first_person,side_view,text,third_person,unknown_player_perspectives,virtual_reality,has_global_launch
0,71,Portal,shooter,False,1,15+,125.0,0.0,1353.0,North America,...,0,0,0,1,0,0,0,0,0,1
1,72,Portal 2,shooter,False,1,12+,86.0,0.0,95.0,North America,...,0,0,0,1,0,0,0,0,0,1
2,4250,Kingdom: The Far Reaches,adventure,False,0,12+,4.0,0.0,39.0,Unknown,...,0,0,0,0,0,0,1,0,0,1
3,6614,Zero Escape: Virtue's Last Reward,visual-novel,False,1,18+,1.0,0.0,132.0,Europe,...,0,0,0,1,0,1,0,0,0,1
4,7046,Factorio,strategy,False,1,12+,2.0,0.0,2.0,Europe,...,0,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1267,296814,Genesis II,shooter,False,0,No Rating,6.0,0.0,-1.0,Europe,...,0,0,1,0,0,0,0,0,0,1
1268,230728,Four Corners for Playdate,arcade,False,0,No Rating,9.0,0.0,9.0,Unknown,...,1,0,0,0,0,0,0,1,0,1
1269,294670,Ad Astra,adventure,False,0,No Rating,NaN,NaN,NaN,NaN,...,0,0,0,1,0,0,1,0,0,0
1270,229164,Cubic Light,indie,False,0,3+,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,1,0,0
1271,287629,Toy Story 3,adventure,False,0,All Ages,31.0,0.0,-1.0,Europe,...,1,0,0,0,0,0,1,0,0,1

In [40]:
df_join.to_csv(f'twitch_api_data_{ano}.csv',header=True,index=False)